{% extends "base.html" %}
{% block content %}
    <h1>Add Questions</h1>

{% if form.errors %}
{{ form.errors }}
{% endif %}
    {% if questions.__len__() > 0 %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Correct Answer</th>
                <th>Option 1</th>
                <th>Option 2</th>
                <th>Option 3</th>
                <th>Option 4</th>
            </tr>

            {% for question in questions %}
                <TR>
                    <TD class="c1">{{ question.id }}</TD>
                    <TD class="c2">{{ question.name }}</TD>
                    <TD class="c3"><SPAN>{{ question.correct_answer }}</SPAN></TD>
                    <TD class="c4">{{ question.option1 }}</TD>
                    <TD class="c5">{{ question.option2 }}</TD>
                    <TD class="c6">{{ question.option3 }}</TD>
                    <TD class="c7">{{ question.option4 }}</TD>
                </TR>
            {% endfor %}
        </table>
    {% endif %}

    <form action="" method="post" >
        {{ form.csrf_token() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.option1.label }}<br>
            {{ form.option1(size=32) }}
            {% for error in form.option1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.option2.label }}<br>
            {{ form.option2(size=32) }}
            {% for error in form.option2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.option3.label }}<br>
            {{ form.option3(size=32) }}
            {% for error in form.option3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.option4.label }}<br>
            {{ form.option4(size=32) }}
            {% for error in form.option4.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.correct_answer.label }}<br>
            {{ form.correct_answer }}
            {% for error in form.correct_answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
            <button id="myButton" class="float-left submit-button" >Finish</button>

            <script type="text/javascript">
                document.getElementById("myButton").onclick = function () {
                    location.href = "{{ url_for('home') }}";
                };
            </script>
        </p>
    </form>
{% endblock %}