{% extends "base.html" %}

{% block content %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Expiration Date</th>
                <th>Answer</th>
            </tr>

            {% for poll in polls %}
                <TR>
                    <TD class="c1">{{ poll.id }}</TD>
                    <TD class="c2">{{ poll.name }}</TD>
                    <TD class="c3"><SPAN>{{ poll.expiration.date() }}</SPAN></TD>
                    <TD class="c4"><SPAN><a href="{{ url_for('poll', id=poll.id) }}">Answer</a></SPAN></TD>

                </TR>
            {% endfor %}
        </table>
{% endblock %}