{% extends "base.html" %}
{% block content %}
    <h1>Poll Creation</h1>
    <form action="" method="post" >
        <p>
            {{ form.csrf_token() }}
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.expiration.label }}<br>
            {{ form.expiration }}
            {% for error in form.expiration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}